@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1>Testing JS Here</h1>
    <p>Counter: <div id="counter">0</div></p>
    <button class="btn btn-primary" onclick="counterHandler()">Add one</button>
</div>
